.idea
/backend/vendor
/backend/tmp
.DS_Store
# Ignore Terraform state files
/terraform/aws/envs/prd/terraform.tfstate
/terraform/aws/envs/prd/terraform.tfstate.backup

# Ignore Terraform lock file
/terraform/aws/envs/prd/.terraform.lock.hcl

# Ignore Terraform plan file
/terraform/aws/envs/prd/tfplan

# Ignore Terraform working directory
/terraform/aws/envs/prd/.terraform/

# Optional: Ignore all files under envs except .tf files
/terraform/aws/envs/prd/*
!/terraform/aws/envs/prd/*.tf